/* Components CSS */
@import url('components/topnavbar-styles.css');
@import url('components/form-styles.css');
@import url('components/button-styles.css');

/* Fonts */
@font-face {
    font-family: Poppins-Regular;
    src: url('fonts/Poppins-Regular.ttf');
}

body {
    font-family: Poppins-Regular, serif;
}


