.student-nav-bar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
}

.logo-container {
    align-self: flex-start;
}

.nav-logo {
    height: 60px;
}

.nav-link-container-container {
    display: flex;
    justify-content: flex-end;
}

.nav-bar-link-container {
    width: 100%;
    min-width: 300px;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-bar-link-container a {
    font-family: 'Heebo', sans-serif;
    text-decoration: none;
    color: black;
    margin-left: 10px;
    margin-right: 10px;

}