.main-area {
  width: 100%;
  min-height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 1000px;
  height: 60%;
}

@media screen and (max-width: 768px) {
  .main-container {
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 100%;
  }
}



@media screen and (max-width: 1024px) {
  .login-area {
    width: 90%;
  }
}

.image-area {
  width: 45%;
  padding-right: 20px;
}

.image-area object img {
  width: 100%;
}

.login-form-container{
  width: 55%;
}

@media screen and (max-width: 480px) {
  .image-area {
    display: none;
  }

  .login-form-container{
    width: 90%
  }
}


.login-form-container h1 {
  font-weight: bolder;
  margin-bottom: 0;
}


.login-form-container p {
  transform: translateY(-15px);
}

.login-form-container p a {
  font-weight: bolder;
  text-decoration: none;
  color: var(--bright-orange)
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .login-form {
    justify-content: center;
    align-items: center;
  }
}

.form-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

@media screen and (max-width: 768px) {
  .form-row {
    width: 100%;
    flex-direction: column;
    margin: 0;
  }
}


.form-field {
  width: 80%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .form-field {
    width: 100%;
    margin: 5px 0;
  }
}

.form-field label {
  font-family: 'DM Sans', sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-field label span {
  color: red;
  font-size: 0.7rem;
  font-weight: normal;
}


.form-field input {
  border: none;
  background-color: rgb(255, 237, 220);
  border-bottom: 1px solid var(--bright-orange);
  font-size: 1rem;
  height: 35px;
  border-radius: 5px;
  padding-left: 5px;
}

.remember-me-field {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 20px;
  width: 50%;
}

.remember-me-field label {
  font-family: 'DM Sans', sans-serif;
  font-size: 0.9rem;
  margin-left: 5px;
}

#login-remember-me {
  height: 15px;
}


.reset-password-field {
  width: 50%;
  margin-bottom: 20px;
}

#reset-password {
  font-family: 'DM Sans', sans-serif;
  text-decoration: underline;
  color: black;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.btn {
  width: 180px;
  height: 40px;
  font-size: 1rem;
  background: linear-gradient(180deg, #FFA620 0%, #F7711A 100%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s;
  user-select: none;
}

.btn:hover {
  transform: scale(1.05);
}

.btn:active {
  background: linear-gradient(180deg, #ae6902 0%, #ae4804 100%);
}
