*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f1f1f1;
    font-family: 'Poppins', sans-serif;
}

.chat{
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 94vh;   
    column-gap: 20px;
    padding: 20px;
}

.right-side{
    width: 0 auto;
}

.right-side .chat-header{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
    background: #FC941D;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.right-side .chat-header img{
    width: 50px;
    margin-right: 10px;
}

.chat-body{
    background: #fff;
    height: 75vh;
    overflow-y: scroll;
    border: 2px solid #FC941D;
    border-top: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.chat-body::-webkit-scrollbar{
    display: none;
}

.chat-body .receiver-side{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.chat-body .receiver-side .message{
    background: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
}

.chat-body .sender-side{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.chat-body .sender-side .message{
    background: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
}

.chat-send{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.chat-send input{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: #f1f1f1;
}

.chat-send a{
    background: #FC941D;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    text-decoration: none;
    color: #f1f1f1;
}


.left-side{
    background: #fff;
    width: 20px auto;
    padding: 10px;
    border: 2px solid tomato;
    border-radius: 10px;
    height: 90vh;
}

.left-side::-webkit-scrollbar{
    display: none;
}


.left-side .create-new-chat button{
    background: #FC941D;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.left-side .create-new-chat i{
    margin-right: 5px;
}

.search-chat{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #FC941D;
    border-radius: 10px;
    margin: 10px 0;
    width: 100%;
    height: 40px;
    padding: 2px;
}

.search-chat input{
    width: 100%;
    border: none;
    outline: none;
    height: 100%;
}

.search-chat i{
    color: #FC941D;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 5px;
}

.search-chat input::placeholder{
    color: rgb(103, 99, 98);
    font-weight: 500;
}

.chat-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75vh;
    overflow-y: scroll;
}

.chat-list::-webkit-scrollbar{
    display: none;
}

.one-chat{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #f1f1f1;
}

.one-chat img{
    width: 50px;
    margin-right: 15px;
}

.one-chat .chat-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}