*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #F5F5F5;
}

.notification{
    /* width: 70%; */
    margin: 20px 50px;
}

.one-notification{
    margin-top: 30px;
}

.notification-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFA620;
    padding: 0px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.profile-img img{
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 3px;
}

.notification-info{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.notification-description{
    background-color: white;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px solid #FFA620;
}


.notification-close i{
    color: rgb(52, 51, 51);
    font-size: 34px;
    cursor: pointer;
    margin-right: 10px;
}

.notification-title h3{
    font-size: 20px;
}

.notification-title{
    line-height: 1.4;
}