
.div1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 20px;
}

.div1 .rating-summary{
    text-align: center;
}

.div1 .rating-summary h1{
    font-size: 60px;
}

.div1 .rating-summary i{
    font-size: 25px;
    color: #FFD700;
}

.myChart4{
    margin: 70px 20px;
}


.myChart3{
    margin: 70px 20px;
}

.myChart4{
    margin: 70px 20px;
}


.statistic-page{
    height: 94vh;
    overflow-y: scroll;
    overflow-x: hidden;
}