*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.tutor-page {
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 10px;
    /* grid-gap: 10px; */
    max-height: 95vh;
    overflow: hidden;
}


.search {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
    border: 2px solid #FC941D;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    background-color: #f2f2f2;
}


.search-bar i {
    color: #FC941D;
    font-size: 20px;
}

.input input {
    height: 50px;
    border: none;
    outline: none;
    background-color: transparent;
    margin-left: 15px;
    font-size: 18px;
}


::placeholder {
    font-size: 18px;
}



/* =========================RANGE SELECTION================================= */

::selection {
    color: #fff;
    background: #FC941D;
}


header h2 {
    font-size: 24px;
    font-weight: 600;
}

header p {
    margin-top: 5px;
    font-size: 16px;
}

.price-input {
    width: 100%;
    display: flex;
    margin: 30px 0 35px;
}

.price-input .field {
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
}

.field input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 19px;
    margin-left: 8px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.price-input .separator {
    width: 70px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
}

.slider {
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
}


.slider .progress {
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: #FC941D;
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #FC941D;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #FC941D;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}


/*  =========================FILTER STYLE================================= */


.filter-selection {
    height:97vh;
    overflow-y: scroll;
}

.filter-selection::-webkit-scrollbar {
    display: none;
}

.subject-filter{
    border: 2px solid #FC941D;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.subject-filter h1{
    font-size: 23px;
    margin-bottom: 10px;
}

.mode-filter{
    border: 2px solid #FC941D;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.mode-filter h1{
    font-size: 23px;
    margin-bottom: 10px;
}

.duration-filter{
    border: 2px solid #FC941D;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.duration-filter h1{
    font-size: 23px;
    margin-bottom: 10px;
}


.visibility-filter{
    border: 2px solid #FC941D;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 40px;
}

.visibility-filter h1{
    font-size: 23px;
    margin-bottom: 10px;
}




.subject-select > div{
    margin-bottom: 5px;
}

.mode-select > div{
    margin-bottom: 5px;
}

.duration-select > div{
    margin-bottom: 5px;
}

.visibility-select > div{
    margin-bottom: 5px;
}

.class-rating{
    border: 2px solid #FC941D;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.class-rating h1{
    font-size: 23px;
    margin-bottom: 10px;
}

.class-rating i{
    color: #FC941D;
    font-size: 20px;
    margin-bottom: 5px;
    margin-left: 15px;
}


/* =========================CARD SECTION================================= */


.card-section{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    column-gap: 20px;
    justify-content: center;
    padding: 10px;
    height: 97vh;
    overflow-y: scroll;
}

.card-section::-webkit-scrollbar {
    display: none;
}

.card-section .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(315deg, #F7931A 0%, #FFD200 74%);
    /* width: 350px; */
    width: 96%;
    height: 370px;
    border-radius: 10px;
    border: 3px solid #FC941D;
    margin-bottom: 50px;
    position: relative;
}


.card > div{
    margin-top: -20px;
}

.name{
    font-size: 16px;
    font-weight: 500;
    position: relative;
}

.selection-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
    width: 100%;
    user-select: none;
    position: relative;
    z-index: 10;
}

.selection-menu h3{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.selection-info{
    background-color: #ffffff;
    width: 100%;
    height: 150px;
    padding: 10px 5px;
    font-size: 18px;
    font-weight: normal;
    overflow-y: scroll;
    border-radius: 5px;
}

.selection-info small{
    font-size: 17px;
    font-weight: 500;
    line-height: 1.5;
    margin-left: 10px;
}


.selection-info::-webkit-scrollbar{
    display: none;
}

.selection-menu > div{
    padding: 5px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    top: 10px;
}


.card .view-profile button{
    background: linear-gradient(180deg, #FFA620 0%, #F7711A 100%);
    border: 2px solid black;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    height: 50px;
    width: 140px;
    position: relative;
    z-index: -1;
}

.card .view-profile{
    position: relative;
    left: 30%;
    top: 40%;
    
}

.card-blur-effect{
    position: absolute; 
    top: 20px;
    left: 0;
    width: 100%;
    height: 0%;
    background: linear-gradient(180deg, #FFA620 0%, #F7711A 100%);
    border-radius: 5px;
    transition: height 0.8s linear;
}


.profile-picture{
    height: 80%;
}


.profile-picture img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    top: 30px;
}



/* ====================== HIDE SHOW ============================ */

.delete-hide-show{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    position: relative;
    top: 30px;
    padding: 10px;
    height: 20px;
}

.delete-hide-show i{
    font-size: 30px;
    cursor: pointer;
}


.hide-show{
    background: rgb(255, 255, 255);
    padding: 5px;
    position: relative;
    right: 10px;
    border-radius: 30px;
}

.toggle-btn{
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    position: relative;
    text-align: center;
    border-radius: 30px;
    width: 45%;
}

.btn{
    position: absolute;
    top: 0;
    left: 0;
    width:50%;
    height: 100%;
    background-color: rgb(3,208,40);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    transition: 0.5s;
}


/* =========================FILTER BUTTON================================= */

.filter-functions {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    align-items: center;
}

.filter-functions > div{
    width: 100%;
    align-items: center;
    border: 2px solid #FC941D;
    border-radius: 5px;
    margin: 0 5px;
}

.filter-functions button {
    width: 100%;
    height: 35px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.filter-functions i{
    margin-right: 8px;
}




/* =========================== CHECKBOX STYLE =========================================== */

.checkbox-button label{
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
}

.checkbox {
    display: none;
}

.checkbox+label {
    position: relative;
    cursor: pointer;
    padding-left: 25px;
    user-select: none;
    margin-right: 50px;
}

.checkbox+label:before {
    content: "\2716";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    font-size: 14px;
    height: 20px;
    border: none;
    background: #f20707bc;
    border-radius: 5px;
    color: #fff;
    transition: 0.3s;
    text-align: center;
}

.checkbox:checked+label:before {
    content: "✔";
    background-color: #0d0;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
    transition: 0.3s;
    border-radius: 5px;
}