.main-area-container {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100%;
}

.main-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
}

.main-title {
    margin: 20px 0 0 0;
    align-self: center;
}

.sub-title {
    margin: 0;
}

#complete-profile-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.upload-picture-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.upload-picture-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}


#profile-image-upload-btn {
    background: linear-gradient(180deg, #FFA620 0%, #F7711A 100%);
    font-size: 0.8rem;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
    width: 150px;
    text-align: center;
    transition: transform 0.1s;
}

#profile-image-upload-btn:hover {
    transform: scale(1.05);
}

#profile-image-upload-btn:active {
    background: linear-gradient(180deg, #ae6902 0%, #ae4804 100%);
}

.profile-picture-added {
    background: linear-gradient(180deg, #ae6902 0%, #ae4804 100%) !important;
}

.form-main-area {
    width: 60%;
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 1024px) {
    .form-main-area {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .form-main-area {
        width: 100%;
    }
}


.form-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

@media screen and (max-width: 600px) {
    .form-row {
        width: 100%;
        flex-direction: column;
        margin: 0;
    }
}


.form-field {
    width: 45%;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 600px) {
    .form-field {
        width: 100%;
        margin: 5px 0;
    }
}

.form-field label {
    font-family: 'DM Sans', sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-field label span {
    color: red;
    font-size: 0.7rem;
    font-weight: normal;
}


.form-field input, .form-field select {
    border: none;
    background-color: rgb(255, 237, 220);
    border-bottom: 1px solid var(--bright-orange);
    font-size: 1rem;
    height: 35px;
    border-radius: 5px;
    padding-left: 5px;
}

.map-container input {
    font-family: 'DM Sans', sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100px;
    border: none;
    background-color: white;
    color: black;
}

.map {
    height: 200px;
    border: 1px solid var(--bright-orange);
    border-radius: 5px;
    padding: 1px 1px;
    cursor: grab;
}

#marker {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: no-repeat top center;
    background-size:100%;
    opacity: 1;
    cursor: move;
}

#submit-btn-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin: 20px 0;
}

.btn {
    width: 180px;
    height: 40px;
    font-size: 1rem;
    background: linear-gradient(180deg, #FFA620 0%, #F7711A 100%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s;
    user-select: none;
}

.btn:hover {
    transform: scale(1.05);
}

.btn:active {
    background: linear-gradient(180deg, #ae6902 0%, #ae4804 100%);
}
