body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: orange;
}

h1{
    text-align: center;
    margin-top: 20px;
}

form{
    margin: 20px auto;
    width: 500px;
    padding: 20px;
    border: 1px solid;
    background-color: white;
    border-radius: 10px;
    font-size: 18px;
 
}

label{
    font-weight: bold;
    margin-left: 50px;
}

select{
    padding: 5px;
    width: 80%;
    border-radius: 3px;
    margin-bottom: 2px;
    border: 2px solid black;
    margin-left: 50px;
    border-color: orange;
    box-sizing: border-box;
}

input[type="number"] {
    padding: 5px;
    width: 80%;
    border-radius: 3px;
    margin-bottom: 2px;
    border: 2px solid black;
    margin-left: 50px;
    border-color: orange;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: orange;
    color: white;
    padding: 0.5em 1em;
    border: none;    
}

.create-btn{
    display: flex;
    justify-content: right;
    align-items: center;
}

.create-btn input{
    border-radius: 5px;
}

