.nav-bar-container {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, #FFA620 0%, #F7711A 100%);

}

.student-nav-bar {
    height: 70px;
    width: 92%;
    display: flex;
    justify-content: space-between;
}


.logo-container {
    align-self: flex-start;
    margin: 10px 10px;
    cursor: pointer;
}

.nav-logo {
    height: 50px;
}

.nav-link-container-container {
    display: flex;
    justify-content: flex-end;
}

.nav-bar-link-container {
    width: 100%;
    min-width: 100px;
    max-width: 200px;
    display: flex;

    align-items: center;
    margin-right: 10px;
}

.nav-bar-link-container a {
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;;

}

/* Notifcation bell CSS */

.icon {
    cursor: pointer;
    margin-right: 10px;
    margin-top: 5px;
    line-height: 50px;
}

.icon span {
    background: #f00;
    padding: 4px;
    border-radius: 50%;
    color: #fff;
    vertical-align: top;
    margin-left: -20px;
    font-size: 0.7rem;
}

.icon img {
    display: inline-block;
    width: 28px;
    margin-top: 20px;
}


/* Bell css end */

.profile-picture img {
    width: 48px;
    height: 48px;
    position: relative;
    object-fit: cover;
    cursor: pointer;
    border-radius: 50%;
}

.profile-menu {
    width: 120px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #FFCFAC;
    top: 65px;
    right: 10px;
    border: 2px rgb(255, 140, 0) solid;
    transition: color 0.1s linear;
    z-index: 1;
}

.profile-menu-hidden {
    display: none;
}

.profile-menu a{
    padding: 5px;
    margin: 0;
}

.profile-menu a:hover{
    background-color: #feab6f;
}

.profile-menu :first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 0;
}

.profile-menu :last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 0;
}




/* Notification !*/
.notification-dropdown {
    position: relative;
}

.notification-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.notification-icon i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.notification-badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: bold;
    color: #fff;
    background-color: #ff3b30;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 0.5rem;
}

.notification-list {
    background-color: var(--lightest-orrange);
    position: absolute;
    top: 100%;
    right: -5rem;
    width: 25rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none;
    max-height: 30rem;
    overflow: scroll;
}

.notification-list::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.notification-list::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: var(--dark-orange);
    visibility: hidden;
}

.notification-list::-webkit-scrollbar-thumb {
    visibility: visible;
}

@media screen and (max-width: 600px) {
    .notification-list {
        width: 85vw;
    }
}

.notification-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.notification-list li {
    padding: 0.2rem;
}


.notification-list li:hover {
    background-color: #ff802597;
}

.notification-list a {
    color: black;
    text-decoration: none;
}

.notification-card {
    padding: 0.5rem;
    border: 3px solid var(--dark-orange);
    border-radius: 5px;
    margin: 0;
}

.notification-card h3 {
    line-height: normal;
    margin: 0 0 10px 0;
}

.notification-card .description {
    margin: 0;
    line-height: normal;
    font-size: 0.9rem;
    font-weight: normal;

}

.notification-card .time {
    margin: 0;
    font-size: 0.7rem;
    font-weight: normal;
}

.no-notification-message {
    padding: 0.5rem;
    margin: 0;
}